.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    margin-top: var(--default-layout-header-height);
    width: 100%;
    max-width: 100%;
    padding: 0 var(--default-layout-horizontal-spacer);
    display: flex;
}

.content{
    flex: 1;
    margin-left: 224px;
}

