.form-container{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-header{
    color: rgb(22, 24, 35);
    text-align: center;
    font-size: 3.2rem;
    margin: 16px auto;
}

.input-label{
    width: 100%;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 5px;
}

.input-login{
    position: relative;
    width: 100%;
    height: 46px;
    font-size: 1.6rem;
    caret-color: var(--primary);
    color: rgb(22, 24, 35);
    background-color: rgba(22, 24, 35, 0.06);
    border: 1px solid rgba(22, 24, 35, 0.12);
    border-radius: 2px;
    padding-inline-start: 12px;
    margin-bottom: 9px;
}

.input-container{
    position: relative;
    width: 100%;
    height: fit-content;
}

.input-pass{
    position: absolute;
    right: 0;
    top: 0;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline-end: 16px;
    cursor: pointer;
}

.input-pass-icon{
    width: 20px;
    height: 20px;
}

.input-pass-icon{
    font-size: 2rem;
}

.fail{
    border-color: rgb(255, 76, 58);
    color: rgb(255, 76, 58);
}

.input-forgot{
    display: inline-block;
    width: 100%;
    font-size: 1.2rem;
    font-weight: 400;
    cursor: pointer;

    &:hover{
        text-decoration: underline;
    }
}

.form-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    background-color: rgb(254, 44, 85);
    min-width: 120px;
    min-height: 46px;
    font-size: 1.6rem;
    font-weight: 700;
    padding: 6px 8px;
    margin-top: 21px;
    cursor: pointer;
}

.modal-choice-containter{
    max-height: 300px;
    overflow-y: scroll;
}

.modal-choice{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 44px;
    border: 1px solid rgba(22, 24, 35, 0.12);
    margin-bottom: 16px;
    margin-left: 0 !important;
    background: rgb(255, 255, 255);
    cursor: pointer;
}


.qr-container{
    width: 100%;
    height: 90%;
    overflow-y: auto; 
    padding: 15px 15px;   
}

.modal-qr{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 208px;
    border: 1px solid rgb(242, 242, 242);
    border-radius: 11px; 
    background: rgb(255, 255, 255); 
    margin: 36px 0;
}

.modal-qr-img{
    width: 146px;
    height: 146px;
}

.qr-text{
    font-size: 1.6rem;
    margin-bottom: 4px;
    color: #161823;
}